.card-container {
    display:flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 20px;
    width: 12vw;
        
}

.card-container:hover {
    transform: scale(1.08);
}

@media (max-width: 1260px) {
    .card-container {
        width: 11vw;
    }
}

@media (max-width: 1100px) {
    .card-container {
        width: 10vw;
    }
}
@media (max-width: 960px) {
    .card-container {
        width: 9vw;
        padding: 15px;
        
    }
}
@media (max-width: 760px) {
    .card-container {
        width: 7vw;
    }
}

@media (max-width: 615px) {
    .card-container {
        width: 4vw;
    }
}

.semester-heading {
    border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
    height: 40px;
    padding-top: 10px;
   
}

@media (max-width: 1080px) {
    .semester-heading {
        font-size: 20px;
        height: 30px;
        padding-top: 8px;
    }
}
@media (max-width: 960px) {
    .semester-heading {
        font-size: 15px;
        height: 20px;
        padding-top: 5px;
    }
}

@media (max-width: 760px) {
    .semester-heading {
        font-size: 10px;
        height: 15px;
        padding-top: 2px;
    }
}