.Footer{
    display:flex;
    border-top: 1px solid lightgray;
    padding: 60px 200px;
    background-color: #f7f7f7;
    bottom: 0;
    text-align: center;
    justify-content:space-between;
    /* padding-top:50px; */
}

.logo{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color:black;
    justify-self: start;
    /* cursor: pointer; */
    /* text-decoration: none; */
    font-size: 3.2rem;
}

p{
    text-align:left;
    margin:3px;
    font-family: 'Lora', serif;
    color:rgb(61, 61, 61);
}

h2{
    text-align:left;
    margin-bottom: 5px;
}

.icons{
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color: #f7f7f7;
    font-size: large;
}

/* .Footer > p{
    padding: 5px;
    font-size: 14px;
} */

.footerbottom{
    background-color:aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}