.container{
    position: relative;
    height: 610px;
    width: 500px;
    margin: 70px auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius:10px;
}